@import "../styles/blocknote.css";

/*
Z-Index Hierarchy

The following is the z-index hierarchy for the app.
The only component we need to edit in this file is the overlay.
The rest of the components are set by the Tailwind CSS classes, or by our editor framework.

- Sidebar Drag Handle Tooltips/Popover (`z-index`: 6000)
- Dialog Content (Billing Modal, Auth Modal, etc.) (`z-index`: 5500)
- Dialog Overlays (Billing Modal, Auth Modal, etc.) (`z-index`: 5000)
- Header Search Modal and Overlay (`z-index`: 5000)
- Tooltips/Popover (`z-index`: 4500)
- Auth Settings Dropdown (`z-index`: 4500)
- Drawer (with its overlay and drag handles)(`z-index`: 4500)
- Editor Options/Drag Handle (`z-index`: 4000)
- Editor Options/Drag Handle Menu (`z-index`: 4000)
- Editor Toolbar (`z-index`: 3000)
- Editor AI Review (`z-index`: 3000)
- Editor Menu (`z-index`: 2000)
- Thread Composer Sources (`z-index`: 1600)
- Sidebars (`z-index`: 1500)
- Header (none)
- Main Content (none)
*/

/* NOTE: This affects all dialog overlays */
/* Ensure dialog content appears above the overlay */
[data-slot="dialog-content"] {
  z-index: 5500;
}

[data-slot="dialog-overlay"] {
  z-index: 5000;
}

/* Ensure the tooltips/popover appears above the sidebar */
[data-radix-popper-content-wrapper] {
  z-index: 4500 !important;
}

/* Ensure the editor options menu appears above the sidebar */
.bn-container > div[data-floating-ui-focusable] {
  z-index: 4000 !important;
}

/* Tanstack Query Devtools */
.tsqd-parent-container {
  border: 1px solid var(--border) !important;
}
.tsqd-main-panel {
  background: transparent !important;
}
.tsqd-queries-container {
  border-radius: 1rem !important;
}
