@import "@blocknote/core/fonts/inter.css";
@import "@blocknote/xl-ai/style.css";
@import "@blocknote/shadcn/style.css";

@source "../../../../../node_modules/@blocknote/shadcn";

/* Custom theme with transparent background */
.bn-container[data-color-scheme],
.bn-container[data-color-scheme="dark"] {
  --bn-colors-editor-background: transparent;
}

/* Remove nested block border */
.bn-block-group
  .bn-block:not(:has(.bn-toggle-wrapper))
  .bn-block-group
  .bn-block-outer:not([data-prev-depth-changed]):before {
  border-left: none;
}

/* Checkbox spacing similar to a bullet point */
.bn-block-content > input[type="checkbox"] {
  align-self: start;
  margin-right: 0.7rem;
  margin-top: 0.34375rem;
}
